* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ededed;
}

button {
  padding: 7px;
  background-color: #047;
  color: #fff;
  font-size: 19px;
  border: none;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
}

input {
  width: 50%;
  margin: 10px 25%;
}

.show-frequency {
  background-color: #047;
  color: #fff;
  padding: 30px;
  font-size: 50px;
  margin-top: 25px;
  text-align: center;
  border-radius: 5px;
}